<div id="list_offers">
  <!-- List Offers-->
  
  <!-- Collapse Module Add Images -->
  <div class="collapse" id="create-add-images">  
  </div>
  <!-- / Collapse -->
  
  <div class="container mt-3" id="create_button_row">
    <div class="row">
      <div class="col-sm-12 text-left" id="menu_add_row">
        <button type="button" class="btn btn-light mb-3">
          Create
        </button>
  
        <button type="button" id="btn_addtorow_additions" class="btn btn-light mb-3">
          Edit
        </button>
  
        <button type="button" id="btn_addtorow_image" class="btn btn-light mb-3" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
          Image Offer
        </button>
        <button type="button" id="btn_addtorow_video" class="btn btn-light mb-3" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
          Video Offer
        </button>
      </div>
    </div>
  </div>
  
  <div class="container" id="list_filldata">
    <div class="row">
      <div class="col-xs-12 col-md-6 mb-3 cards_container">
        <div class="card hr_card">
          <div class="daily_offers">
            <div class="offer">
              <div class="img_container">
                <img class="img-fluid" src="https://plchldr.co/i/87x93" alt="">
              </div>
              <div class="text_container">
                <p>3Hr Offer 1</p>
                <p>Alternative Name</p>
                <p><span class="spend_pts"><img src="assets/img/spend-points.png" alt=""></span> <span><img src="assets/img/earn-points.png" alt=""></span></p>
              </div>
            </div>
            <div class="price">
              <p>£5.50</p>
            </div>
          </div>
          <div class="description ml-auto">
            <p>There are many variations passages of Lorem Ipsum available, but the majority.</p>
          </div>
          <div class="quantity_container">
            <div class="quantity">
              <p>qty item 1</p>
              <p>qty item 3</p>
              <p>qty item 5</p>
              <p>qty item 7</p>
              <p>qty item 9</p>
            </div>
            <div class="quantity">
              <p>qty item 2</p>
              <p>qty item 4</p>
              <p>qty item 6</p>
              <p>qty item 8</p>
              <p>qty item 10</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 mb-3 cards_container">
        <div class="card hr_card">
          <div class="daily_offers">
            <div class="offer">
              <div class="img_container">
                <img class="img-fluid" src="https://plchldr.co/i/87x93" alt="">
              </div>
              <div class="text_container">
                <p>3Hr Offer 2</p>
                <p>Alternative Name</p>
                <p><span class="spend_pts"><img src="assets/img/spend-points.png" alt=""></span> <span><img src="assets/img/earn-points.png" alt=""></span></p>
              </div>
            </div>
            <div class="price">
              <p>£5.50</p>
            </div>
          </div>
          <div class="description ml-auto">
            <p>There are many variations passages of Lorem Ipsum available, but the majority.</p>
          </div>
          <div class="quantity_container">
            <div class="quantity">
              <p>qty item 1</p>
              <p>qty item 3</p>
              <p>qty item 5</p>
              <p>qty item 7</p>
              <p>qty item 9</p>
            </div>
            <div class="quantity">
              <p>qty item 2</p>
              <p>qty item 4</p>
              <p>qty item 6</p>
              <p>qty item 8</p>
              <p>qty item 10</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 cards_container">
        <div class="card hr_card">
          <div class="daily_offers">
            <div class="offer">
              <div class="img_container">
                <img class="img-fluid" src="https://plchldr.co/i/87x93" alt="">
              </div>
              <div class="text_container">
                <p>3Hr Offer 3</p>
                <p>Alternative Name</p>
                <p><span class="spend_pts"><img src="assets/img/spend-points.png" alt=""></span> <span><img src="assets/img/earn-points.png" alt=""></span></p>
              </div>
            </div>
            <div class="price">
              <p>£5.50</p>
            </div>
          </div>
          <div class="description ml-auto">
            <p>There are many variations passages of Lorem Ipsum available, but the majority.</p>
          </div>
          <div class="quantity_container">
            <div class="quantity">
              <p>qty item 1</p>
              <p>qty item 3</p>
              <p>qty item 5</p>
              <p>qty item 7</p>
              <p>qty item 9</p>
            </div>
            <div class="quantity">
              <p>qty item 2</p>
              <p>qty item 4</p>
              <p>qty item 6</p>
              <p>qty item 8</p>
              <p>qty item 10</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
   <!-- Modal Additions-->
   <div class="modal fade" id="modal_additions_content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Select Additions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row" style="widows: 800px;">
          <div id="modal_additions">
  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- / List Offers-->
  </div>