<div class="container-fluid" id="screens_header">
  <div class="container p-0">
    <div class="row" id="sub_head_slider">
      <div class="col-12 p-0 owl-carousel owl-theme" id="sub_head_btns">
        <button type="button" class="btn sub_btn active_btn">Art 01</button>
        <button type="button" class="btn sub_btn">Art 02</button>
        <button type="button" class="btn sub_btn">Art 03</button>
        <button type="button" class="btn sub_btn">Art 04</button>
        <button type="button" class="btn sub_btn">Art 05</button>
        <button type="button" class="btn sub_btn">Art 06</button>
        <button type="button" class="btn sub_btn">Art 07</button>
        <button type="button" class="btn sub_btn">Art 08</button>
        <button type="button" class="btn sub_btn">Art 09</button>
        <button type="button" class="btn sub_btn">Art 10</button>
      </div>
    </div>
  </div>
  
  <div class="container mt-3 p-0" id="daily_slider">
    <div class="row appbody_nav" id="subnav-slide-btns">
        <div class="list-btn">
          <button type="button" class="btn btn-primary appbtn_nav" subcmp_target='list_offers' subcmp_parentcmp="screens">List</button>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='first_screen' subcmp_parentcmp="screens">Screen 1</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='second_screen' subcmp_parentcmp="screens">Screen 2</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 3</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 4</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 5</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 6</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 7</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 8</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 9</button>
          </div>
          <div class="item">
            <button type="button" class="btn btn-light appbtn_nav" subcmp_target='third_screen' subcmp_parentcmp="screens" >Screen 10</button>
          </div>
        </div> 
        <!--Slider Ends-->
      </div> 
    </div>
    
</div>   