<div id="second_screen">

  <div class="container" id="screen_subheader">
    <div class="row mt-3">
      <div class="col-12 text-center p-0" id="menu_btns_container">
        <button type="button" class="btn btn-primary">Breakfast</button>
        <button type="button" class="btn btn-light">Day Menu</button>
      </div>
    </div>
    <div class="row mt-3 p-0">
      <div class="col-12 p-0">
        <div id="grids">
          <div id="grid_wrapper">
            <div class="grid green">
              <p>1</p>
              <p><i class="fas fa-check"></i></p>
            </div>
            <div class="grid yellow">
              <p>2</p>
              <p><i class="fas fa-check"></i></p>
            </div>
            <div class="grid white">
              <p>3</p>
              <p><i class="fas fa-check"></i></p>
            </div>
            <div class="grid white">
              <p>4</p>
              <p><i class="fas fa-check"></i></p>
            </div>
          </div>
          <div id="grid_wrapper">
            <div class="grid white">
              <p>5</p>
              <p><i class="fas fa-check"></i></p>
            </div>
            <div class="grid white">
              <p>6</p>
              <p><i class="fas fa-check"></i></p>
            </div>
            <div class="grid white">
              <p>7</p>
              <p><i class="fas fa-check"></i></p>
            </div>
            <div class="grid white">
              <p>8</p>
              <p><i class="fas fa-check"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 p-0 text-center" id="daily_offersbtn_container">
        <button type="button" class="btn btn-secondary">Daily Offer</button>
        <button type="button" class="btn btn-light">Just 4 Today</button>
        <button type="button" class="btn btn-light">3Hr Offer</button>
      </div>
    </div>
    <div class="row mt-3 p-0">
      <div class="col-12 text-center">
        <h5>Grid Area 2</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="active_daily_offers">
        <div class="offers_header">
          <h6>Active Daily Offers</h6>
          <div class="image_wrapper mt-2">
            <div>
              <p>Active: 02-01-21 &nbsp;&nbsp; 10:45</p>
              <p>Inactive: 03-01-21 &nbsp;&nbsp; 14:45</p>
            </div>
            <div class="img_container">
              <img src="https://plchldr.co/i/58x62" class="img-fluid" alt="image">
            </div>
          </div>
        </div>
        <div class="mt-2" id="offer_links">
          <ul id="list_links">
            <li class="link selected">Daily offer 11</li>
            <li class="link">Daily offer 12</li>
            <li class="link">Daily offer 13</li>
            <li class="link">Daily offer 14</li>
            <li class="link">Daily offer 15</li>
            <li class="link">Daily offer 16</li>
          </ul>
          <ul id="check_lists">
            <li class="check activated"><i class="fas fa-check"></i></li>
            <li class="check"><i class="fas fa-check"></i></li>
            <li class="check"><i class="fas fa-check"></i></li>
            <li class="check"><i class="fas fa-check"></i></li>
            <li class="check"><i class="fas fa-check"></i></li>
            <li class="check"><i class="fas fa-check"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-right p-0" id="edit_btn_container">
        <button class="btn btn-sm btn-success" id="edit_btn">Edit</button>
        <button class="btn btn-sm btn-danger">Save</button>
      </div>
    </div>
  </div>
 
</div>