html{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-size: 1rem;
}
.row{
    margin: 0;
}
p{
    margin-bottom: 0;
}
/*App Header*/
#app_header{
    padding: 0;
    position: relative;
}
#app_header .nav_wrapper{
    position: relative;
    padding: 1rem;
}
#app_header .nav_wrapper #toggle_btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0 .4rem;
    font-size: 1.1rem;
    color: black;
}
#app_header .cmp_nav #dark_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    min-height: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    z-index: 80;
}
#app_header .cmp_nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: 100%;
    overflow-y: hidden;
    transition: all .7s ease;
    z-index: 60;
}
#app_header .show_cmp_nav{
    left: 0;
}
#app_header .cmp_nav .links_container{
    width: 80%;
    padding-top: 3rem;
    padding-left: 1rem;
    margin-top: .5rem;
}
#app_header .cmp_nav .links_container .nav_link{
    padding: .4rem 0 .5rem 0;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-top: 1.5px solid gray;
    transition: all .4s ease;
}
#app_header .cmp_nav .links_container .nav_link .logout_link{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    transition: all .4s ease;
}
#app_header .cmp_nav .links_container .nav_link:hover,
#app_header .cmp_nav .links_container .active_link,
#app_header .cmp_nav .links_container .nav_link .logout_link:hover{
    color: rgb(0, 123, 255);
}
#app_header .cmp_nav .close_btn{
    width: 20%;
    text-align: right;
}
#app_header .cmp_nav .close_btn #close_btn{
    border: none;
    outline: none;
    margin-top: .8rem;
    margin-right: .8rem;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0 .5rem;
    font-size: 1.2rem;
    color: black;
}
/*
*   App Body
*/
#app_body{
    max-width: 1300px;
    margin: auto;
    border: 1px solid red;
    padding-bottom: 2rem;
}
/*Login Page*/
.login_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container #Login_form{
    margin-bottom: 4rem;
    padding: 1rem;
}
.login_container #Login_form .form-row{
    margin-bottom: 1rem;
}
.login_container #Login_form .form-row label{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 1rem;
}
.login_container #Login_form .form-row #pas_label{
    margin-right: 1.9rem;
}
.login_container #Login_form .form-row input{
    width: 200px;
}