<div id="first_screen">
  
  <div class="container" id="screen_subheader">
    <div class="row mt-3">
      <div class="col-12 text-center p-0" id="menu_btns_container">
        <button type="button" class="btn btn-primary mr-2">Breakfast</button>
        <button type="button" class="btn btn-light">Day Menu</button>
      </div>
    </div>
    <div class="row mt-3 p-0">
      <div class="col-12 p-0">
        <div id="grid_container">
          <div class="grid green">
            <p class="text-center">SubCat 1</p>
            <span class="check_mark">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <div class="grid yellow">
            <p class="text-center">SubCat 1</p>
            <span class="check_mark">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <div class="grid white">
            <p class="text-center">SubCat 1</p>
            <span class="check_mark">
              <i class="fas fa-check"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3" id="screen_slider">
      <div class="col-12 p-0 owl-carousel owl-theme">
        <button type="button" class="btn btn-secondary">SubCat 1</button>
        <button type="button" class="btn btn-light">SubCat 2</button>
        <button type="button" class="btn btn-light">SubCat 3</button>
        <button type="button" class="btn btn-light">SubCat 4</button>
        <button type="button" class="btn btn-light">SubCat 5</button>
        <button type="button" class="btn btn-light">SubCat 6</button>
        <button type="button" class="btn btn-light">SubCat 7</button>
        <button type="button" class="btn btn-light">SubCat 8</button>
        <button type="button" class="btn btn-light">SubCat 9</button>
        <button type="button" class="btn btn-light">SubCat 10</button>
      </div>
    </div>
    <div class="row mt-3" id="table_wrapper">
      <div class="col-12" id="screen_table">
        <p class="label">SubCat 1</p>
        <p class="label">Line 2</p>
        <!--Row 1-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 1</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 2-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 2</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 3-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 3</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 4-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 4</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 5-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 5</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 6-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 6</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 7-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 7</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 8-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 8</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 9-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 9</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--Row 10-->
        <div class="rows_wrapper">
          <div id="labels_container">
            <p class="strip_label">Strip 10</p>
            <p class="priz_label">Priz</p>
            <p class="points_label">S pts/ E pts</p>
            <p class="image_label">Image</p>
          </div>
          <div class="inputs_container">
            <input type="text" class="strip_input">
            <input type="text" class="priz_input">
            <input type="text" class="points_input">
            <div class="image_container">
              <img class="img-fluid" src="https://plchldr.co/i/74x37" alt="">
            </div>
          </div>
        </div>
        <!--End of Rows-->
      </div>
      <!--Start Of Slider-->
      <div class="add_image carousel slide" data-ride="carousel">
        <div id="close_slider" class="text-center"><span><i class="fas fa-times"></i></span></div>
        <div class="carousel_images" role="listbox">
          <img class="sl_img" src="assets/img/slider/200x100-1.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-2.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-3.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-4.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-1.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-2.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-3.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-4.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-1.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-2.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-1.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-2.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-3.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-4.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-1.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-2.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-3.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-4.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-1.jpg" alt="" />
          <img class="sl_img" src="assets/img/slider/200x100-2.jpg" alt="" />
        </div>
    </div>
    <!--End Of Slider-->
    </div>
    
    <div class="row mt-3" id="edit_btn_container">
      <div class="col-12 text-right p-0">
        <button class="btn btn-sm btn-success" id="edit_btn">Edit</button>
        <button class="btn btn-sm btn-danger">Save</button>
      </div>
    </div>
  </div>

</div>