<div id="createmenu_dailyoffers">
  
<div class="collapse" id="create-add-images">
</div>
<!-- / Collapse -->


<div class="container mt-3" id="create_button_row">
  <div class="row">
    <div class="col-sm-12 text-left" id="menu_add_row">
      <button type="button" id="btn_createoffer_create" class="btn btn-secondary mb-3">
        Create
      </button>

      <button type="button" id="btn_createoffer_edit" class="btn btn-light mb-3">
        Edit
      </button>

      <button type="button" id="btn_addtorow_image" class="btn btn-light mb-3" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
        Image Offer
      </button>

      <button type="button" id="btn_addtorow_video" class="btn btn-light mb-3" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
        Video Offer
      </button>
    </div>
  </div>
</div>

<div class="container" id="dailyoffer_heading">
  <div class="row">
    <div class="col-12 heading_container">
      <div class="text_container">
        <p>Daily Offer 1</p>
        <p>Alternative Name</p>
      </div>
      <div class="image_container">
        <img src="https://plchldr.co/i/56x60" class="img-fluid" alt="image">
      </div>
    </div>
  </div>
</div>

<div class="container" id="create_filldata">
  <div class="row">
    <div class="col-12 create_offer">
      <div class="row filldata_row">
        <div class="col-12 p-0 inputs">
          <input class="form-control input">
          <label>SKU</label>
        </div>
      </div>
      <div class="row filldata_row">
        <div class="col-12 p-0 inputs">
          <input class="form-control input">
          <label>Daily Offer</label>
        </div>
      </div>
      <div class="row filldata_row">
        <div class="col-12 p-0 inputs">
          <input class="form-control input">
          <label>Alt Name</label>
        </div>
      </div>
      <div class="row filldata_row">
        <div class="col-12 p-0 inputs">
          <input class="form-control input">
          <label>Description</label>
        </div>
      </div>
      <div class="row filldata_row">
        <div class="col-12 p-0 inputs">
          <input class="form-control input price_input">
          <label>Price</label>
        </div>
      </div>
      <div id="earn_points">
        <div class="row filldata_row mr-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label><img src="assets/img/earn-points.png" alt=""></label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label><img src="assets/img/spend-points.png" alt=""></label>
          </div>
        </div>
      </div>
      <!--Item-1-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 1</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-2-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 2</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-3-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 3</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-4-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 4</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-5-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 5</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-6-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 6</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-7-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 7</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-8-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 8</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-9-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 9</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--Item-10-->
      <div class="fillitems_row">
        <div class="row filldata_row" id="quantity">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Qty</label>
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <label>Item 10</label>
          </div>
        </div>
        <div class="row filldata_row ml-2 options">
          <div class="col-12 p-0 inputs">
            <input class="form-control input">
            <button class="col-1 input create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
          </div>
        </div>
      </div>
      <!--End Of Items-->
    </div>
  </div>
</div>

<div class="container mt-3 p-0">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-sm btn-success">Edit</button>
      <button class="btn btn-sm btn-danger">Save</button>
    </div>
  </div>
</div>

 <!-- Modal Additions-->
 <div class="modal fade" id="modal_additions_content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div id="modal_additions">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- / Create Menu-->
</div>