<div id="createmenu_dailyoffers">
  
<div class="collapse" id="create-add-images">
</div>
<!-- / Collapse -->


<div class="container mt-3" id="create_button_row">
  <div class="row">
    <div class="col-sm-12 text-left" id="menu_add_row">
      <button type="button" id="btn_createoffer_create" class="btn btn-secondary mb-3">
        Create
      </button>

      <button type="button" id="btn_createoffer_edit" class="btn btn-light mb-3">
        Edit
      </button>

      <button type="button" id="btn_addtorow_image" class="btn btn-light mb-3" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
        Image Offer
      </button>

      <button type="button" id="btn_addtorow_video" class="btn btn-light mb-3" data-toggle="collapse" data-target="#create-add-images" aria-expanded="false" aria-controls="menu-add-collapse">
        Video Offer
      </button>
    </div>
  </div>
</div>

<div class="container mb-3" id="dailyoffer_heading">
  <div class="row">
    <div class="col-12 heading_container">
      <div class="text_container">
        <p>Daily Offer 1</p>
        <p>Alternative Name</p>
      </div>
      <div class="image_container">
        <img src="https://plchldr.co/i/58x62" class="img-fluid" alt="image">
      </div>
    </div>
  </div>
</div>

<div class="container" id="create_filldata">
  <div class="row">
    <div class="col-12 create_offer">
      <div class="row filldata_row">
        <label class="col-4 p-0">
          SKU
        </label>
        <div class="col-8 p-0 inputs">
          <input class="form-control">
        </div>
      </div>
      <div class="row filldata_row">
        <label class="col-4 p-0">
          Daily Offer
        </label>
        <div class="col-8 p-0 inputs">
          <input class="form-control">
        </div>
      </div>
      <div class="row filldata_row">
        <label class="col-4 p-0">
          Alt Name
        </label>
        <div class="col-8 p-0 inputs">
          <input class="form-control">
        </div>
      </div>
      <div class="row filldata_row">
        <label class="col-4 p-0">
          Description
        </label>
        <div class="col-8 p-0 inputs">
          <input class="form-control">
        </div>
      </div>
      <div class="row filldata_row">
        <label class="col-4 p-0">
          Price
        </label>
        <div class="col-8 p-0 inputs">
          <input class="form-control price_input">
        </div>
      </div>
      <div id="earn_points">
        <div class="row filldata_row mr-2">
          <label class="col-6 p-0">
            Earn pts
          </label>
          <div class="col-6 p-0 inputs">
            <input class="form-control">
          </div>
        </div>
        <div class="row filldata_row ml-2">
          <label class="col-6 p-0">
            Spend pts
          </label>
          <div class="col-6 p-0 inputs">
            <input class="form-control">
          </div>
        </div>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 1
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 2
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 3
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 4
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 5
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 6
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 7
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 8
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 9
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
      <div class="row filldata_row">
        <label class="col-2 p-0">
          Item 10
        </label>
        <div class="col-2 p-0 inputs">
          <input class="form-control" placeholder="Qty">
        </div>
        <div class="col-4 p-0 inputs">
          <input class="form-control">
        </div>
        <div class="col-3 p-0 inputs">
          <input class="form-control">
        </div>
        <button class="col-1 create_data_additem_additions btn btn-light" data-toggle="modal" data-target="#modal_additions_content">O+</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 p-0">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-sm btn-success">Edit</button>
      <button class="btn btn-sm btn-danger">Save</button>
    </div>
  </div>
</div>

 <!-- Modal Additions-->
 <div class="modal fade" id="modal_additions_content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div id="modal_additions">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- / Create Menu-->
</div>