<div id="list_offers">
  <!-- List Offers-->
  <div class="container mt-3" id="list-data">
    <div class="row" id="flex_lists">
      <div class="image_container p-0">
        <div class="img mb-3">
          <img src="https://plchldr.co/i/58x62" alt="image">
        </div>
      </div>

      <div class="p-0 list-offers">
        <h6 class="text-center">Inactive Just 4 Today</h6>
        <ul class="list-links left_lists">
          <li class="list-links-item selected"><a href="#" class="active">
            Just 4 Today 1
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 2 
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 3
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Todayr 4 
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 5
          </a></li>
        </ul>
      </div>

      <div class="p-0 list-offers">
        <h6 class="text-center">Active Just 4 Today</h6>
        <ul class="list-links right_lists">
          <li class="list-links-item"><a href="#">
            Just 4 Today 6
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 7 
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 8
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 9
          </a></li>
          <li class="list-links-item"><a href="#">
            Just 4 Today 10
          </a></li>
        </ul>
      </div>
      <div class="mt-1 hr_line"></div>
    </div>
    <!--=========Middle Content=========-->
    <div class="row mt-2">
      <div class="col-12 p-0" id="activate-offer">
        <h6 class="text-center">Activate / Deactivate Offer</h6>
        <div class="row activate-toggle-pink">
          <div>
            <p class="bold-text">Just 4 Today 1</p>
            <p class="bold-text">Alternative Name</p>
          </div>
          <div>
            <p class="offer-amount mb-0">Total Just 4 Today 28</p>
            <p class="offer-amount mb-0">Created 03-01-21</p>
          </div>
        </div>
        <!--Inputs-->
        <div id="inputs-wrapper">
          <div class="layer"></div>
        <div class="inputs-row">
          <div class="inputs-label">Start Date & Time</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="start_date_time">
          </div>
        </div>
        <div class="inputs-row">
          <div class="inputs-label">End Date & Time</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="end_date_time">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">Price</div>
          <div class="inputs-container">
            <input type="text" class="form-control price-input" placeholder="" id="Price">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">Email Offer</div>
          <div class="inputs-container">
            <select class="form-control">
              <option selected>No</option>
              <option selected>Yes</option>
            </select>
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">Email Date</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="email_date">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">SMS Offer</div>
          <div class="inputs-container">
            <select class="form-control">
              <option selected>No</option>
              <option selected>Yes</option>
            </select>
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">SMS Date & Time</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="sms_date">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">Notify App</div>
          <div class="inputs-container">
            <select class="form-control">
              <option selected>No</option>
              <option selected>Yes</option>
            </select>
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">Notify Date & Time</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="sms_date">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">Start Date Facebook</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="fcbok_date">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">End Date Facebook</div>
          <div class="inputs-container date">
            <input type="text" class="form-control" placeholder="" id="fcbok_date">
          </div>
        </div>

        <div class="inputs-row">
          <div class="inputs-label">UON</div>
          <div class="inputs-container">
            <input type="text" class="form-control" placeholder="UON" id="UON">
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- End Of List Offers-->
</div>